@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-white: #fff;
  --color-dark: #111;
  --color-purple: #391c77;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  height: 100vh;
  background: linear-gradient(to left, #8942a8, #c8ade4);
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  position: relative;
  width: 20rem;
  padding: 2rem 3rem;
  padding-top: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  object-fit: cover;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.profile img {
  width: 100%;
  height: 120%;
  object-fit: cover;
}

h1 {
  margin-top: 1.5rem;
  text-align: center;
  color: #fbeaff;
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-dark);
}

h2 {
  margin-top: 0.75rem;
  text-align: center;
  color: var(--color-purple);
  font-size: 0.95rem;
  font-weight: 400;
}

.container .social__field {
  position: relative;
  display: inline-block;
  padding: 6px;
  margin: 10px 5px;
  width: 90%;
  color: var(--color-dark);
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
}

.container .social__field i {
  margin: 0.5rem 0.85rem;
  width: 12px;
  font-size: 1.1rem ;
  
}

.container .social__field a {
  font-size: 0.80rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-dark);
}
.container .social__field.github,
.social__field.linkedin,
.social__field.instagram {
  background: linear-gradient(90deg, #845ec2, #fbeaff);
  transition: all 0.3s ease;
}

.social__field.github:hover {
  color: var(--color-white);
  background: #fbeaff;
  border-radius: 40px;
  letter-spacing: 0.6px;
}
.social__field.linkedin:hover {
  color: var(--color-white);
  background: #fbeaff;
  border-radius: 40px;
  letter-spacing: 0.6px;
}
.social__field.instagram:hover {
  color: var(--color-white);
  background: #fbeaff;
  border-radius: 40px;
  letter-spacing: 0.6px;
}


/*Responsividade */

@media (max-width: 600px) {
  .container {
    position: absolute;
    width: 15rem;
    padding: 2rem 3rem;
    padding-top: 2rem;

    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }

  h2 {
    font-size: 0.95rem;
  }
}
